* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#nav-logo, li {
  text-align: center;
  font-size: 25px;
}

#nav-menu {
  padding-top: 0;
}

li {
  font-size: 10px;
}

/* sotto nav */

#header-bottom {
  background-image: url("../img/HelbizOrig.jpg");
  color: white;
  width: 100%;
  height: auto;
  padding: 20%;
  text-align: center;
}

h1 {
  font-size: 50px;
}

p {
  margin: 5% 0;
}

#main-1 {
  text-align: center;
}

.col-lg-6 > .container {
  background: lightgrey;
  padding: 10%;
  margin: 5% 2%;
}

.img-main-1 > img {
  width: 50%;
}

.container > h3, h4, a, div {
  padding: 2% 0;
}

h3 {
  font-size: 2em;}

#main-2 > img {
  width: 100%;
}
